@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   SITE NAV
   ========================================================================== */
.site-nav {
  padding: $spacing-third $spacing-whole;
  font-family: $font-family-heading;
  background-color: white;

  @include mq(medium) {
    padding: $spacing-double;
    background-color: color(brand);
  }



/* ELEMENTS
   ========================================================================== */
  // NEEDS REFACTORING
  > .container {
    @include o-wrapper;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    @include mq(medium) {
      flex-direction: row;
    }
  }



  .list {
    margin: 0;
    display: none;

    @include mq(medium) {
      display: block;
    }
  }



  .item {
    display: block;
    @include type-scale(0);
    font-weight: bold;

    & + .item {
      margin: 0;

      @include mq(medium) {
        margin-top: 0;
        margin-left: $spacing-whole;
      }
    }

    @include mq(medium) {
      display: inline-block;
    }
  }



  .link {
    color: white;
    @include transition(medium);

    &:hover {
      text-decoration: none;
      color: color(accent);
    }
  }
}







/* ==========================================================================
   MOBILE NAV ICON
   ========================================================================== */
.i-nav {
  display: block;
  @include rectangle($spacing-double);
  padding: $spacing-third;
  cursor: pointer;

  .line {
    stroke: color(brand);
    stroke-width: 5;
    transform-origin: 50% 50%;
    @include transition(short);
  }

  &.is-active {
    .line {
      &:nth-child(1) { transform: translateY(16px) rotate(-45deg); }
      &:nth-child(3) { transform: translateY(-16px) rotate(45deg); }
      &:nth-child(2) { transform: scale(0); }
    }
  }
}
