@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SITE NAV
   ========================================================================== */
.site-nav {
  padding: $spacing-whole;
  background-color: color(brand);

  @include mq(medium) {
    padding: $spacing-double;
    background-color: color(brand);
  }



/* ELEMENTS
   ========================================================================== */
  // NEEDS REFACTORING
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 75rem;
    margin: 0 auto;

    @include mq(medium) {
      flex-direction: row;
    }
  }



  .list {
    margin: 0;
    display: none;

    @include mq(medium) {
      display: block;
    }
  }



  .item {
    display: block;
    @include type-scale(0);
    font-weight: bold;

    & + .item {
      margin: 0;

      @include mq(medium) {
        margin-top: 0;
        margin-left: $spacing-whole;
      }
    }

    @include mq(medium) {
      display: inline-block;
    }
  }



  .link {
    color: white;
    @include transition(medium);

    &:hover {
      text-decoration: none;
      color: color(accent);
    }
  }
}
