@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   SITE NAV
   ========================================================================== */
.site-nav {
  padding: $spacing-third $spacing-half;
  font-family: $font-family-heading;
  background-color: white;

  @include mq(medium) {
    padding: $spacing-double;
    background-color: color(brand);
  }
}





/* ELEMENTS
   ========================================================================== */
.site-nav__container {
  @include o-wrapper;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;

  @include mq(medium) {
    grid-template-columns: auto auto;
  }
}



.site-nav__list {
  position: absolute;
  border-top: 1px solid color(light);
  margin: 0 (-$spacing-half);
  width: 100vw;
  grid-column: 1 / -1;
  background-color: white;
  transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;
  transform: translateY(56px) scaleY(0);
  transform-origin: top;
  opacity: 0;

  @include mq(medium) {
    position: initial;
    display: grid;
    grid-gap: $spacing-half;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    border: none;
    width: auto;
    margin: 0;
    grid-column: auto;
    background-color: transparent;
    transform: initial;
    opacity: 1;
  }

  @include mq(860px) {
    grid-gap: $spacing-whole;
  }
}



.site-nav__item {
  display: block;
  @include type-scale(0);
  font-weight: bold;

  @include mq(medium) {
    display: inline-block;
  }
}



.site-nav__link {
  display: block;
  padding: $spacing-half $spacing-whole;
  @include transition(medium);

  @include mq(medium) {
    padding: 0;
    color: white;
  }

  @include on-event {
    text-decoration: none;
    background-color: color(accent);
    color: color(brand);

    @include mq(medium) {
      background-color: transparent;
      color: color(accent);
    }
  }
}





/* ==========================================================================
   MOBILE NAV ICON
   ========================================================================== */
.i-nav {
  display: block;
  @include rectangle($spacing-double);
  padding: $spacing-third;
  cursor: pointer;

  @include mq(medium) {
    display: none;
  }



  .i-nav__line {
    stroke: color(brand);
    stroke-width: 8;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;

    &:nth-child(3) {
      stroke-width: 0;
    }
  }



/* STATES
   ========================================================================== */
  &.is-active {
    .i-nav__line {
      &:nth-child(1) {
        stroke-width: 0;
      }

      &:nth-child(4) {
        stroke-width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        stroke-width: 8;
        transform: rotate(-45deg);
      }
    }

    ~ .site-nav__list {
      transform: translateY(56px) scaleY(1);
      opacity: 1;

      @include mq(medium) {
        transform: initial;
      }
    }
  }
}
