@import '../../../assets/styles/tools';

/* ==========================================================================
   FROM CHECKBOX
   ========================================================================== */
.f-checkbox {
  display: flex;
  align-items: center;
  @include type-scale(-2);
  cursor: pointer;

  .c-thumbnail {
    @include rectangle(rem(20));
    margin-right: spacing(1/3);
    border-radius: rem(3);
    border: rem(1) solid;
    color: color(light, dark);
    fill: white;
    @include transition(short);
  }
}



/* VARIANTS
   ========================================================================== */
:checked {
  & ~ .f-checkbox {
    .c-thumbnail {
      background-color: color(brand);
      color: color(brand);
    }
  }
}
