@import '../../../assets/styles/tools';

/* ==========================================================================
   FROM CHECKBOX
   ========================================================================== */
.f-checkbox {
  display: flex;
  align-items: center;
  @include type-scale(-2);
  cursor: pointer;

  .c-thumbnail {
    @include rectangle(rem(20));
    margin-right: spacing(1/3);
    border-radius: rem(3);
    border: rem(1) solid;
    color: color(light, dark);
    fill: white;
    @include transition(short);
  }

  &:hover {
    .c-thumbnail {
      border-color: color(light, xdark);
    }
  }
}



/* VARIANTS
   ========================================================================== */
.f-checkbox.--btn {
  @include o-btn;
  @include type-scale(0);
  width: 100%;
  border-color: transparent;
  padding: spacing(1/2);
  background-color: color(light);
  color: rgba(color(dark), .6);
  fill: rgba(color(dark), .3);

  @include media-query(medium) {
    display: grid;
  }

  &:hover {
    background-color: rgba(color(light, dark), .5);
  }
}



/* STATES
   ========================================================================== */
:focus {
  & ~ .f-checkbox {
    .c-thumbnail {
      border-color: color(brand);
      box-shadow: $shadow-size rgba(color(brand, light), 0.15);
    }
  }

  & ~ .f-checkbox.--btn {
    border-color: rgba(color(dark), .2);
    background-color: rgba(color(light, dark), .5);
  }
}

:checked {
  & ~ .f-checkbox {
    .c-thumbnail {
      border-color: color(brand);
      background-color: color(brand);
      color: color(brand);
    }
  }

  & ~ .f-checkbox.--btn {
    background-color: color(brand);
    fill: color(brand, xdark);
    color: white;
  }
}
