@import '../../../assets/styles/tools';

/* ==========================================================================
   FORM FIELDSET
   ========================================================================== */
.f-fieldset {
  display: grid;
  border: none;
  grid-gap: spacing(1/2);
  grid-template-columns: repeat(auto-fit, minmax(0, auto));

  &.has-veicles {
    grid-template-columns: repeat(3, auto);

    > .f-fieldset__detail {
      display: block;
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}



/* ELEMENTS
   ========================================================================== */
.f-fieldset__text {
  color: color(gray);
  align-self: center;
  justify-self: center;
}
