@import '../../../assets/styles/tools';

/* ==========================================================================
   FORM RADIO GROUP
   ========================================================================== */
.f-radio-group {
  display: grid;
  grid-gap: spacing(1/2);
  grid-template-columns: repeat(auto-fit, minmax(rem(1), 1fr));
}





/* VARIANTS
   ========================================================================== */
.f-radio-group.--flat {
  grid-gap: 0;

  .f-field {
    &:first-of-type {
      .f-radio {
        border-top-left-radius: rem(5);
        border-bottom-left-radius: rem(5);
      }
    }

    &:last-of-type {
      .f-radio {
        border-top-right-radius: rem(5);
        border-bottom-right-radius: rem(5);
      }
    }
  }

  .f-radio {
    border-radius: 0;
  }
}
