@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   FORMS
   ========================================================================== */
form {
  display: grid;
  grid-gap: $spacing-whole;
  margin: 0;
}






/* FIELDSET
   ========================================================================== */
.l-fieldset {
  display: grid;
  border: none;
  grid-gap: $spacing-half;



  &.has-veicles {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: $spacing-half;
    border-top: 1px solid color(light);
    border-bottom: 1px solid color(light);
    padding-top: $spacing-whole;
    padding-bottom: $spacing-half;

    > .detail {
      display: block;
      grid-column: 1 / -1;
      text-align: center;
    }
  }



  &.has-icon {
    grid-template-columns: $spacing-whole auto;
    grid-column-gap: $spacing-half;

    > .icon {
      display: block;
      @include rectangle($spacing-whole);
      fill: color(brand);
    }
  }
}





/* FIELD
   ========================================================================== */
.c-field {
  width: 100%;



  > .label {
    display: block;
    @include type-scale(-2);
    font-weight: bold;
    cursor: pointer;
    color: color(brand);
  }



  > [type="radio"] {
    display: none;
  }



  > :checked {
    & ~ .c-input.-radio {
      background-color: color(brand);
      fill: color(brand, xdark);
      color: white;
    }
  }
}





/* INPUTS
   ========================================================================== */
.c-input {
  &.-text {
    @include o-input-text;
    border-color: color(light);
    background-color: white;
    color: color(dark);

    &:hover {
      border-color: color(light, dark);
    }

    &:focus {
      box-shadow: $shadow-size rgba(color(brand, light), 0.15);
      border-color: color(brand);
    }

    @include placeholder {
      color: rgba(color(dark), .5)
    }
  }



  &.-radio {
    @include o-btn;
    width: 100%;
    border-color: transparent;
    padding: $spacing-third;
    background-color: color(light);
    color: rgba(color(dark), .6);
    fill: rgba(color(dark), .3);

    > .text {
      display: block;
      @include font-scale(-2);
      line-height: 1;
      text-transform: initial;
    }

    &:hover {
      background-color: rgba(color(light, dark), .5);
    }
  }



  &.has-icon {
    > .icon {
      display: block;
      width: 70px;
      margin: 0 auto;
    }
  }
}
