@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   FORMS
   ========================================================================== */
form {
  margin: 0;
}






/* SUB COMPONENTS
   ========================================================================== */
.c-fieldset {
  display: grid;
  border: none;
  margin-bottom: $spacing-whole;

  > .icon {
    display: block;
    @include rectangle($spacing-whole);
    fill: color(brand);
  }

  > .field {
    width: 100%;

    > .label {
      display: block;
      @include type-scale(-2);
      font-weight: bold;
      cursor: pointer;
      color: color(brand);
    }

    > .input {
      margin-top: $spacing-third;

      &[type="text"] {
        display: block;
        width: 100%;
        padding: $spacing-half;
        border: solid 1px color(light);
        @include type-scale(2);
        border-radius: $spacing-third / 2;
        background-color: white;
        color: color(dark);
        @include transition(short);

        &:hover {
          border-color: color(light, dark);
        }

        &:focus {
          border-color: color(brand);
          box-shadow: 0 3px 4px 0 rgba(color(brand, light), 0.15);
        }

        @include placeholder {
          color: rgba(color(dark), .5)
        }
      }

      &._flat:focus {
        box-shadow: none;
      }
    }

    &.-radio {
      > input {
        display: none;
      }
    }
  }





/* VARIANTS
   ========================================================================== */
    &.has-veicles {
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-column-gap: $spacing-half;
      margin-bottom: $spacing-half;

      > .detail {
        display: block;
        margin-top: $spacing-third;
        grid-column: 1 / -1;
        text-align: center;
      }
    }

    &.has-icon {
    grid-template-columns: $spacing-whole auto;
    grid-column-gap: $spacing-half;

    > .field + .field {
      margin-left: $spacing-half;
    }
  }
}
