@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SITE HEADER
   ========================================================================== */
.site-header {
  padding: $spacing-double $spacing-whole;
  background-color: color(brand);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 60rem;
  color: white;

  // NEEDS REFACTORING
  .l-block {
    display: none;
  }

  @include mq(medium) {
    height: auto;
    padding: $spacing-double;
    background-position: center top;
    background-size: 90rem;

    // NEEDS REFACTORING
    .l-block {
      display: block;
    }
  }



/* ELEMENTS
   ========================================================================== */
  > .container {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 75rem;
    margin: 0 auto;

    @include mq(medium) {
      grid-template-columns: auto 340px;
      align-items: start;
    }

    @include mq(950px) {
      grid-template-columns: auto 400px;
    }
  }



  .image {
    width: 100%;
    margin: 0;
    margin-top: $spacing-double * 2;

    @include mq(medium) {
      margin-top: $spacing-triple;
    }

    > img {
      max-width: 100%;
    }
  }





/* CONTEXTUAL COMPONENTS
   ========================================================================== */
  .l-fieldset.has-icon > .icon {
    margin-top: $spacing-half;
  }



  .c-input.-text {
    border: none;
    margin: 0;
    padding: 0;

    &:focus {
      box-shadow: none;
    }
  }



  .l-order-summary {
    grid-gap: 0 0;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }



  .c-order-item {
    grid-template-columns: auto;
  }
}
