@import '../../../assets/styles/tools';

/* ==========================================================================
   BLOCK
   ========================================================================== */
.l-panel {
  position: relative;
  @include o-box;
  @include o-grid;
  grid-template-columns: 100%;
  background-color: white;
  color: color(dark);
  overflow: hidden;
}





/* VARIANTS
   ========================================================================== */
.l-panel.--dark {
  background-color: color(dark);

  * {
    color: white;
  }
}
