@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SITE LOGO
   ========================================================================== */
.site-logo {
  margin: 0;

  .logo {
    display: none;
    max-width: 265px;
    width: 100%;

    @include mq(medium) {
      display: block;
    }
  }

  .icon {
    display: block;
    @include rectangle($spacing-double);

    @include mq(medium) {
      display: none;
    }
  }
}
