/* ==========================================================================
   SOURCE SANS PRO
   ========================================================================== */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../assets/fonts/SourceSansPro-Bold.eot');
  src: url('../../assets/fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/SourceSansPro-Bold.woff') format('woff'),
    url('../../assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../assets/fonts/SourceSansPro-Regular.eot');
  src: url('../../assets/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/* ==========================================================================
   NUNITO
   ========================================================================== */
@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-Light.eot');
  src: local('Nunito Light'), local('Nunito-Light'),
    url('../../assets/fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Nunito-Light.woff') format('woff'),
    url('../../assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-Regular.eot');
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../../assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Nunito-Regular.woff') format('woff'),
    url('../../assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-Bold.eot');
  src: local('Nunito Bold'), local('Nunito-Bold'),
    url('../../assets/fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Nunito-Bold.woff') format('woff'),
    url('../../assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
