@import 'variables';
@import 'functions';
@import 'mixins';

/* ==========================================================================
   HELPERS
   ========================================================================== */

/* BOX SHADOW
   ========================================================================== */
._shadow {
  box-shadow: $shadow-size rgba(black, 0.15) !important;
}



._shadow-large {
  box-shadow: $shadow-size-large rgba(color(gray), 0.3) !important;
}



._noshadow {
  box-shadow: none !important;
}





/* SPACING
   ========================================================================== */
._nospacing {
  padding: 0  !important;
  margin: 0  !important;
}



._noborder {
  border: none  !important;
}



._collapse-grid {
  grid-gap: 0 0 !important;
}





/* RESPONSIVE DISPLAY
   ========================================================================== */
._show-mobile-only {
  display: inherit !important;

  @include mq(medium) {
    display: none !important;
  }
}



._hide-mobile-only {
  display: none !important;

  @include mq(medium) {
    display: inherit !important;
  }
}
