@import 'variables';
@import 'functions';
@import 'mixins';

/* ==========================================================================
   HELPERS
   ========================================================================== */
._shadow {
  box-shadow: $shadow-size rgba(black, 0.15) !important;
}



._shadow-large {
  box-shadow: $shadow-size-large rgba(black, 0.3) !important;
}



._nospacing {
  padding: 0  !important;
  margin: 0  !important;
}

._noborder {
  border: none  !important;
}



._collapse-grid {
  grid-gap: 0 0 !important;
}
