@import 'variables';
@import 'functions';
@import 'mixins';

/* ==========================================================================
   HELPERS
   ========================================================================== */

/* BOX SHADOW
   ========================================================================== */
.u-shadow {
  box-shadow: $shadow-size rgba(black, 0.15) !important;
}



.u-shadow-large {
  box-shadow: $shadow-size-large rgba(black, 0.3) !important;
}



.u-noshadow {
  box-shadow: none !important;
}





/* SPACING
   ========================================================================== */
.u-nospacing {
  padding: 0 !important;
  margin: 0 !important;
}



.u-noborder {
  border: none !important;
}



.u-noradius {
  border-radius: unset !important;
}



.u-collapse-grid {
  grid-gap: 0 0 !important;
}





/* RESPONSIVE DISPLAY
   ========================================================================== */
.u-show\@small {
  display: inherit !important;

  @include mq(medium) {
    display: none !important;
  }
}



.u-hide\@small {
  display: none !important;

  @include mq(medium) {
    display: inherit !important;
  }
}
