@import 'variables';
@import 'functions';
@import 'mixins';
@import 'objects';

/* ==========================================================================
   SERVICES
   ========================================================================== */

/* BOX
   ========================================================================== */
.l-box-container {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto;
  grid-gap: $spacing-whole;
  justify-content: center;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
  margin-top: $spacing-triple;

  @include mq(510px) {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, 1fr);
  }

  @include mq(745px) {
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 1fr);
  }

  @include mq(1150px) {
    grid-template-columns: repeat(5, 210px);
    grid-template-rows: 1fr;
    padding: 0;
  }
}

.c-box {
  display: grid;
  grid-template-rows: 75px 48px;
  grid-gap: $spacing-whole;
  align-content: center;
  height: 250px;
  border-radius: 5px;
  padding: $spacing-half;
  background-color: white;


  > .image {
    margin: 0;

    svg {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }
}
