@import '../../../assets/styles/tools';

/* ==========================================================================
   FAQ
   ========================================================================== */
.l-faq {}





/* ELEMENTS
   ========================================================================== */
.l-faq__list {
  list-style: none;
}



.l-faq__item {
  & + .l-faq__item {
    margin-top: spacing(3);
  }

  .c-headline__title {
    margin-bottom: spacing(1/2);
  }
}
