@import '../../../../assets/styles/tools';

/* ==========================================================================
   CLIENTS LIST
   ========================================================================== */
.l-clients-list {
  @include o-grid;
  grid-gap: 80px;
  grid-template-columns: repeat(auto-fit, 215px);

  @include media-query(1230px) {
    grid-gap: spacing(1);
  }

  > .c-thumbnail {
    height: 40px;
  }
}
