@import '../../../../assets/styles/tools';

/* ==========================================================================
   SITE HEADER
   ========================================================================== */
.site-header {
  padding: spacing(2) spacing(1);
  background-color: color(brand);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 60rem;
  color: white;

  @include media-query(medium) {
    height: auto;
    padding: spacing(2);
    background-position: center top;
    background-size: 90rem;
  }
}



/* ELEMENTS
   ========================================================================== */
.site-header__container {
  @include o-wrapper;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  align-items: center;

  @include media-query(medium) {
    grid-template-columns: auto 340px;
    align-items: start;
  }

  @include media-query(950px) {
    grid-template-columns: auto 400px;
  }
}





/* CONTEXTUAL COMPONENTS
   ========================================================================== */
.site-header {
  .c-headline {
    grid-gap: spacing(1/2);
    max-width: 100%;
    text-align: center;

    @include media-query(medium) {
      grid-gap: spacing(1);
      max-width: 500px;
      padding-right: spacing(2);
      text-align: left;
    }



    > .c-headline__title {
      @include font-scale(9);

      @include media-query(medium) {
        @include type-scale(12);
      }

      @include media-query(950px) {
        @include type-scale(14);
      }
    }



    > .c-headline__subtitle {
      @include type-scale(4);

      @include media-query(medium) {
        @include font-scale(5);
        @include line-scale(0);
      }
    }
  }

  .c-thumbnail {
    max-width: rem(720);
    margin-top: spacing(4);

    @include media-query(medium) {
      margin-top: spacing(3);
    }
  }



  form {
    display: grid;
    grid-gap: spacing(1);
    margin: 0;
  }



  .l-fieldset__icon {
    margin-top: spacing(1/2);
  }



  .c-input.--text {
    border: none;
    margin: 0;
    padding: 0;

    &:focus {
      box-shadow: none;
    }
  }



  .l-order-summary {
    grid-gap: 0 0;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }



  .c-order-item {
    grid-template-columns: auto;
  }
}
