@import '../../../assets/styles/tools';

/* ==========================================================================
   CONTACT
   ========================================================================== */
.l-contact{}



/* ELEMENTS
   ========================================================================== */
.l-contact__form {
  display: grid;
  grid-gap: spacing(1);
  width: 100%;

  @include media-query(medium) {
    max-width: rem(520);
  }
}
