@import '../../../assets/styles/tools';

/* ==========================================================================
   CONTACT
   ========================================================================== */
.l-contact{}



/* ELEMENTS
   ========================================================================== */
.l-contact__form {
  display: grid;
  grid-gap: spacing(1);
  max-width: rem(520);
  width: 100%;
}
