@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   HEADLINE
   ========================================================================== */
.c-headline {
  text-align: center;



/* ELEMENTS
 ========================================================================== */
  > .title {
    @include type-scale(11);
    margin-bottom: 0;
    color: inherit;
  }

  > .subtitle {
    @include type-scale(2);
    margin-bottom: 0;
    font-weight: 300;
    color: inherit;
  }



/* VARIANTS
 ========================================================================== */
  &.-header {
    max-width: 470px;
    text-align: center;

    @include mq(medium) {
      text-align: left;
    }

    > .title {
      margin-bottom: $spacing-half;
      @include font-scale(8);
      @include line-scale(0);

      @include mq(medium) {
        margin-bottom: $spacing-double;
        @include type-scale(14);
      }
    }

    > .subtitle {
      @include font-scale(5);
      @include line-scale(0);
    }
  }
}
