@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   HEADLINE
   ========================================================================== */
.c-headline {
  text-align: center;





/* ELEMENTS
 ========================================================================== */
  > .title {
    @include type-scale(11);
    margin-bottom: 0;
    color: inherit;
  }



  > .subtitle {
    @include type-scale(2);
    margin-bottom: 0;
    font-weight: 300;
    color: inherit;
  }





/* VARIANTS
 ========================================================================== */
  &.-header {
    display: grid;
    grid-gap: $spacing-half;
    max-width: 100%;
    text-align: center;

    @include mq(medium) {
      grid-gap: $spacing-whole;
      max-width: 500px;
      padding-right: $spacing-double;
      text-align: left;
    }



    > .title {
      @include font-scale(9);

      @include mq(medium) {
        @include type-scale(12);
      }

      @include mq(950px) {
        @include type-scale(14);
      }
    }



    > .subtitle {
      @include type-scale(4);

      @include mq(medium) {
        @include font-scale(5);
        @include line-scale(0);
      }
    }
  }



  &.-small {
    > .title {
      @include type-scale(0);
    }

    > .subtitle {
      @include type-scale(-2);
    }
  }
}
