@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   HEADLINE
   ========================================================================== */
.c-headline {
  display: grid;
  grid-gap: 0;
  margin: 0;
  text-align: center;
}





/* ELEMENTS
 ========================================================================== */
.c-headline__title {
  @include type-scale(11);
  margin-bottom: 0;
  color: inherit;
}



.c-headline__subtitle {
  @include type-scale(2);
  margin-bottom: 0;
  font-weight: 300;
  color: inherit;
}





/* VARIANTS
 ========================================================================== */
.c-headline.--header {
  grid-gap: $spacing-half;
  max-width: 100%;
  text-align: center;

  @include mq(medium) {
    grid-gap: $spacing-whole;
    max-width: 500px;
    padding-right: $spacing-double;
    text-align: left;
  }



  > .c-headline__title {
    @include font-scale(9);

    @include mq(medium) {
      @include type-scale(12);
    }

    @include mq(950px) {
      @include type-scale(14);
    }
  }



  > .c-headline__subtitle {
    @include type-scale(4);

    @include mq(medium) {
      @include font-scale(5);
      @include line-scale(0);
    }
  }
}



.c-headline.--small {
  > .c-headline__title {
    @include type-scale(0);
  }

  > .c-headline__subtitle {
    @include type-scale(-2);
  }
}
