@import '../../../assets/styles/tools';

/* ==========================================================================
   CONTACT
   ========================================================================== */
.c-contact-info {
  display: grid;
  grid-gap: $spacing-whole;
  align-content: center;
  text-align: center;
  color: color(gray);

  @include media-query(641px) {
    align-content: start;
    text-align: right;
  }

  .c-headline__title {
    @include type-scale(6);
    color: color(dark);
  }
}





/* ELEMENTS
   ========================================================================== */
.c-contact-info__group {
  display: grid;
  grid-gap: $spacing-third;
}



.c-contact-info__text {
  display: inline-block;
  @include type-scale(-2);
  text-transform: uppercase;
}
