@import '../../../assets/styles/tools';

/* ==========================================================================
   CONTACT
   ========================================================================== */
.c-contact-info {
  display: grid;
  grid-gap: $spacing-half;
  align-content: start;
  text-align: right;
  color: color(gray);

  .c-headline__title {
    @include type-scale(6);
    color: color(dark);
  }
}





/* ELEMENTS
   ========================================================================== */
.c-contact-info__text {
  display: inline-block;
  @include type-scale(-2);
  text-transform: uppercase;
}
