@import '../../../assets/styles/tools';

/* ==========================================================================
   PAGE LAYOUT
   ========================================================================== */
.l-page {}



/* ELEMENTS
   ========================================================================== */
.l-page__title {
  background-color: color(brand);
  color: white;

  > .c-headline {
    @include o-wrapper;
    padding: spacing(1);
  }
}



.l-page__container {
  @include o-wrapper;
  padding: spacing(1);

  @include media-query(medium) {
    padding: spacing(3) spacing(1);
  }
}
