@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   CARDS LIST
   ========================================================================== */
.l-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: auto;
  grid-gap: $spacing-whole;
  justify-content: center;
  width: 100%;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
  margin: 0;

  @include mq(1150px) {
    grid-template-columns: repeat(5, 210px);
  }



/* VARIANTS
   ========================================================================== */
  &.-has-benefits {
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, 300px);

    @include mq(1150px) {
      grid-template-columns: repeat(3, 300px);
    }

    > .c-card {
      grid-template-rows: 90px auto;
      align-content: start;
      height: auto;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
    }
  }
}
