@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   CARDS LIST
   ========================================================================== */
.l-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: auto;
  grid-gap: $spacing-whole;
  justify-content: center;
  width: 100%;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
  margin: 0;

  @include media-query(1195px) {
    grid-template-columns: repeat(5, 210px);
  }



/* VARIANTS
   ========================================================================== */
  &.has-benefits {
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, 300px);

    @include media-query(1195px) {
      grid-gap: 100px;
      grid-template-columns: repeat(3, 300px);
    }

    > .c-card {
      grid-template-rows: 90px auto;
    }
  }



  &.has-brands {
    grid-gap: 80px;
    grid-template-columns: repeat(auto-fit, 215px);

    @include media-query(1230px) {
      grid-gap: 24px;
      grid-template-columns: repeat(5, 215px);
    }

    > .c-card {
      grid-template-rows: 40px;
    }
  }
}
