@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SECTION
   ========================================================================== */
.l-section {
  padding-top: $spacing-double * 2;
  padding-bottom: $spacing-double * 2;



/* VARIANTS
   ========================================================================== */
  &.-tint {
    background-color: color(light);
  }



  &.-red {
    background-color: color(brand);
    color: white;
  }
}
