@import '../../../assets/styles/tools';

/* ==========================================================================
   APP
   ========================================================================== */
.application {
  display: grid;
  grid-template-columns: rem(230) auto;
  background-color: color(light);
}



.l-dashboard {
  display: grid;
  grid-gap: spacing(5);
  align-content: start;
  padding-bottom: spacing(3);
}



.l-workspace {
  display: grid;
  grid-gap: spacing(1);
  grid-template-columns: rem(975);
  justify-content: center;

  .c-headline__title {
    font-weight: 400;
  }
}
