@import '../../../assets/styles/tools';

/* ==========================================================================
   CONSOLE
   ========================================================================== */
.c-console {
  display: grid;
  grid-gap: spacing(1/2);
  grid-template-columns: auto;
  justify-content: end;
  align-items: center;
  padding: spacing(1/2) ;
  background-color: white;

  @include media-query(landscape) {
    grid-template-columns: auto auto;
  }

  @include media-query(medium) {
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    padding: spacing(1/2) spacing(1);
  }
}


/* ELEMENTS
   ========================================================================== */
.c-console__msg {
  display: grid;
  grid-gap: spacing(1/2);
  grid-template-columns: rem(32) auto;
  align-items: start;

  @include media-query(medium) {
    align-items: center;
  }



  .c-thumbnail {
    @include rectangle(rem(32));
    fill: #f9d648;
  }
}



.c-console__actions {
  display: grid;
  grid-gap: spacing(1/2);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}



.c-console__user {
  display: grid;
  grid-gap: spacing(1/2);
  grid-template-columns: repeat(2, auto);
  align-items: center;



  .c-headline > .c-headline__title {
    @include font-scale(-2);
  }



  > .c-thumbnail {
    @include rectangle(rem(32));
    border-radius: 50%;
  }
}





/* VARIANTS
   ========================================================================== */
.c-console.--alert {
  justify-content: space-between;
  background-color: #fff8d4;
}
