@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SITE LOGO
   ========================================================================== */
.site-brand {
  max-width: 220px;
  margin: 0;

  @include media-query(800px) {
    max-width: 265px;
  }
}


.site-brand__logo {
  display: none;

  @include media-query(medium) {
    display: block;
  }

  &, &-svg {
    vertical-align: middle;
    width: 100%;
  }
}



.site-brand__icon {
  display: block;

  @include media-query(medium) {
    display: none;
  }

  &, &-svg {
    @include rectangle($spacing-double);
  }
}
