@import '../../../assets/styles/tools';

/* ==========================================================================
   CARD
   ========================================================================== */
.c-card {
  @include o-grid;
  align-content: center;
  border-radius: 5px;
  padding: $spacing-whole;
  background-color: white;
}
