@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   CARD
   ========================================================================== */
.c-card {
  @include o-grid;
  align-content: center;
  border-radius: 5px;
  padding: $spacing-whole;
  background-color: white;
}
