@import '../../../assets/styles/tools';

/* ==========================================================================
   SOCIAL MEDIA LIST
   ========================================================================== */
.c-sm-links {
  display: grid;
  grid-gap: $spacing-third;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  list-style: none;

  @include media-query(641px) {
    justify-content: end;
  }
}



/* ELEMENTS
   ========================================================================== */
.c-sm-links__item {
  display: inline-block;
  @include rectangle($spacing-whole + $spacing-third);
  border-radius: 50%;
  background-color: color(brand);
  color: white;
  fill: white;
}
