@import '../../../assets/styles/tools';

/* ==========================================================================
   SOCIAL MEDIA LIST
   ========================================================================== */
.c-sm-links {
  display: grid;
  grid-gap: spacing(1/3);
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  list-style: none;

  @include media-query(641px) {
    justify-content: end;
  }
}



/* ELEMENTS
   ========================================================================== */
.c-sm-links__item {}



.c-sm-links__link {
  display: inline-block;
  @include rectangle(spacing(4/3));
  padding: 7px 0;
  border-radius: 50%;
  background-color: color(brand);



  .c-thumbnail {
    margin: 0 auto;
    fill: white;
  }
}

