@import '../../../assets/styles/tools';

/* ==========================================================================
   ESTIMATE
   ========================================================================== */
.l-estimate {
  display: grid;
  grid-gap: spacing(3/2);
  grid-template-columns: auto;
  justify-content: center;

  @include media-query(large) {
    grid-template-columns: rem(570) rem(370);
  }
}



.l-estimate__form {
  > :last-child,
  .l-panel + .l-panel {
    margin-top: spacing(1/2);
  }
}



.l-estimate__summary {
  position: -webkit-sticky;
  position: sticky;
  top: rem(245);
}



.l-estimate__map {
  display: none;
  margin: rem(-24) rem(-24) 0 rem(-24);
  border: none;

  @include media-query(large) {
    @include rectangle(rem(370), rem(348));
  }
}
