@import '../../../assets/styles/tools';

/* ==========================================================================
   ESTIMATES
   ========================================================================== */
.l-estimate {
  display: grid;
  grid-gap: spacing(3/2);
  grid-template-columns: rem(570px) rem(370px);
  justify-content: center;
}



.l-estimate__form {
  > :last-child,
  .l-panel + .l-panel {
    margin-top: spacing(1/2);
  }
}
