@import '../../../assets/styles/tools';

/* ==========================================================================
   ADDRESS
   ========================================================================== */
.l-place {
  display: grid;
  grid-gap: spacing(1/2);
  grid-template-columns: spacing(1) auto;
  fill: color(brand);

  > .c-thumbnail {
    @include rectangle(spacing(1));
  }
}



/* ELEMENTS
   ========================================================================== */
.l-place__fields {
  display: grid;
  grid-gap: spacing(1/2);
}



.l-place__address,
.l-place__details {
  display: grid;
  grid-gap: spacing(1/2);
  align-items: end;
}



.l-place__address {
  grid-template-columns: repeat(4, 1fr);

  > :nth-child(1) { grid-column: span 4; }
  > :nth-child(2) { grid-column: span 4; }
  > :nth-child(3) { grid-column: span 3; }
  > :nth-child(4) { justify-content: center; }

  @include media-query(landscape) {
    > :nth-child(1) { grid-column: span 3; }
    > :nth-child(2) { grid-column: span 1; }
  }

  @include media-query(medium) {
    grid-template-columns: rem(220) rem(60) rem(140) rem(30);

    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3) {
      grid-column: initial;
    }
  }

  > .c-thumbnail {
    @include rectangle(rem(30), rem(40));
    fill: color(gray, xlight);
  }
}



.l-place__details {
  grid-template-columns: 1fr;

  @include media-query(large) {
    grid-template-columns: rem(220) rem(110) rem(125);
  }
}
