@import '../../../assets/styles/tools';

/* ==========================================================================
   VEICLES
   ========================================================================== */
.l-veicles {
  display: grid;
  grid-gap: spacing(1/2);
}



/* ELEMENTS
   ========================================================================== */
.l-veicles__detail {
  display: block;
  text-align: center;
}
