@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.app-sidebar {
  min-height: 100vh;
  max-width: 230px;
  background-color: color(brand);



/* ELEMENTS
   ========================================================================== */
  > .link {
    color: white;
  }
}
