@import '../../../assets/styles/tools';

/* ==========================================================================
   ORDER SUMMARY
   ========================================================================== */
.l-order-summary {
  display: grid;
  grid-gap: spacing(1/2);
  margin-bottom: 0;
}
