@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// @HEADLINE
//-------------------------------------
.headline {
  text-align: center;
}



.headline__title {
  @include type-scale(2);
  margin-bottom: 0;
  color: inherit;
}



.headline__subtitle {
  font-size: 1.125rem; // NEEDS REFACTORING
  margin-bottom: 0;
  font-weight: 300;
  color: inherit;
}


.headline--header {
  max-width: 470px;
  text-align: center;

  @include mq(medium) {
    text-align: left;
  }

  > .headline__title {
    margin-bottom: $spacing-half;
    @include font-scale(2);
    @include line-scale(0);

    @include mq(medium) {
      margin-bottom: $spacing-double;
      @include type-scale(3);
    }
  }

  > .headline__subtitle {
    @include font-scale(1);
    @include line-scale(0);
  }
}
