@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   SECTION
   ========================================================================== */
.l-section {
  display: grid;
  grid-gap: spacing(3);
  justify-items: center;
  padding: spacing(4) spacing(1);



/* VARIANTS
   ========================================================================== */
  &.--tint {
    background-color: color(light);
  }



  &.--red {
    background-color: color(brand);
    color: white;
  }
}
