@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// @HEADER
//-------------------------------------

.site-header {
  height: 100vh;
  padding: $spacing-double;
  font-family: Nunito;
  background-color: color(brand);
  background-position: center 8rem;
  background-repeat: repeat-x;
  background-size: cover;

  @include mq(medium) {
    min-height: 770px;
    height: auto;
  }
}
