@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   BUTTON
   ========================================================================== */
.c-btn {
  display: block;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
  padding: $spacing-third $spacing-half;
  @include font-scale(-2);
  @include line-scale(0);
  font-family: $font-family-heading;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background-color: color(light);
  color: color(dark);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  @include transition(short);

  @include mq(medium) {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
    background-color: color(light, dark);
    color: color(dark, dark);
  }

  + .c-btn {
    margin-top: $spacing-whole;

    @include mq(medium) {
      margin-top: 0;
    }
  }



/* VARIANTS
   ========================================================================== */
  &.-block {
    display: block;
    width: 100%;
  }



  &.-large {
    padding: $spacing-half $spacing-whole;
    @include font-scale(0);
  }



  &.-link {
    border-color: transparent;
    background-color: transparent;
    color: color(brand);

    &:hover {
      background-color: transparent;
      color: color(brand, dark);
    }
  }



  &.-primary {
    background-color: color(brand);
    color: color(accent);

    &:hover {
      background-color: color(brand, dark);
      color: color(accent, dark);
    }
  }

  &.-accent {
    background-color: color(accent);
    color: color(brand);

    &:hover {
      background-color: color(accent, dark);
      color: color(brand, dark);
    }
  }



  &.-outline {
    border-color: color(brand);
    background-color: transparent;
    color: color(brand);

    &:hover {
      background-color: rgba(black, .05);
      color: color(brand);
    }

    &.-accent {
      border-color: color(accent);
      color: color(accent);
    }
  }
}
