@import '../../../assets/styles/tools';

/* ==========================================================================
   BUTTON
   ========================================================================== */
.c-btn {
  @include o-btn;
  border-color: transparent;
  background-color: color(light);
  color: color(dark);

  &:hover {
    background-color: rgba(color(light, dark), .5);
  }

  &:focus {
    box-shadow: $shadow-size rgba(color(brand, light), .15);
  }



/* VARIANTS
   ========================================================================== */
  &.--link {
    background-color: transparent;
    color: color(brand);

    &:hover {
      background-color: transparent;
      color: color(brand, dark);
    }
  }



  &.--primary {
    background-color: color(brand);
    color: white;

    &:hover {
      background-color: color(brand, dark);
    }
  }



  &.--secondary {
    background-color: color(brand);
    color: color(accent);

    &:hover {
      background-color: color(brand, dark);
      color: color(accent, dark);
    }
  }



  &.--accent {
    background-color: color(accent);
    color: color(brand);

    &:hover {
      background-color: color(accent, dark);
      color: color(brand, dark);
    }

    &:focus {
      box-shadow: $shadow-size rgba(color(accent, xdark), .15);
    }
  }



  &.--outline {
    @include font-scale(-2);
    border-color: color(light);
    background-color: transparent;
    color: color(light);

    &:hover {
      background-color: rgba(color(dark), .05);
      color: color(brand);
    }

    &.--primary {
      border-color: color(brand);
      color: color(brand);

      &:hover {
        background-color: color(brand);
        color: white;
      }
    }

    &.--accent {
      border-color: color(accent);
      color: color(accent);

      &:hover {
        background-color: color(accent);
        color: color(brand);
      }
    }
  }
}
