@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';

/* ==========================================================================
   BUTTON
   ========================================================================== */
.c-btn {
  display: block;
  border: none;
  border-radius: 5px;
  padding: $spacing-third $spacing-half;
  @include type-scale(0);
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: color(gray, dark);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  @include transition(short);

  @include mq(medium) {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
    color: color(dark);
  }

  + .c-btn {
    margin-top: $spacing-whole;

    @include mq(medium) {
      margin-top: 0;
    }
  }



/* VARIANTS
   ========================================================================== */
  &.-primary {
    background-color: color(brand);
    color: color(accent);

    &:hover {
      background-color: color(brand, dark);
      color: color(accent, dark);
    }
  }



  &.-accent {
    background-color: color(accent);
    color: color(brand);

    &:hover {
      background-color: color(accent, dark);
      color: color(brand, dark);
    }
  }



  &.-outline {
    border: 1px solid;
    background-color: transparent;
    color: color(brand);

    &:hover {
      background-color: rgba(black, .05);
      color: color(brand);
    }

    &.-accent {
      color: color(accent);
    }
  }
}
