@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   BLOCK
   ========================================================================== */
.c-block {
  @include o-box;
  background-color: white;
  color: color(dark);

  &.-flat {
    border-radius: 0;
  }
}
