@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';

/* ==========================================================================
   BLOCK
   ========================================================================== */
.l-block {
  @include o-box;
  @include o-grid;
  grid-template-columns: 100%;
  background-color: white;
  color: color(dark);
}
