@import '../../../assets/styles/tools';

/* ==========================================================================
   AUTHOR
   ========================================================================== */
.c-author {
  @include o-media;

  .c-headline__title,
  .c-headline__subtitle {
    text-align: left;
    color: color(dark);
  }

  .c-headline__subtitle {
    color: color(gray, dark);
  }

  .c-thumbnail,
  .c-thumbnail > * {
    border-radius: 50%;
    margin: 0;
  }
}
