@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
@import '../../styles/fonts';

//-------------------------------------
// @PAGE
//-------------------------------------

// 1. Set the global `box-sizing` state to `border-box`.
// @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// @link http://paulirish.com/2012/box-sizing-border-box-ftw
// 2. Remove outline styles from all the elements.
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box; // [1]
    outline: none;          // [2]
  }
}

// High-, page-level styling.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in ems, the `line-height` is calculated to exist unitlessly.
// 2. Fonts on OSX will look more consistent with other systems that do not
//    render text using sub-pixel anti-aliasing.
// 3. Prevent certain mobile browsers from automatically zooming fonts.
// 4. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 5. Ensure the page always fills at least the entire height of the viewport.
// 6. Make a soft and nice highlight on the selection.
html {
  @include type-scale(0);              // [1]
  -webkit-font-smoothing: antialiased; // [2]
  -moz-osx-font-smoothing: grayscale;  // [2]
  text-size-adjust: 100%;              // [3]
  overflow-y: scroll;                  // [4]
  min-height: 100%;                    // [5]

  ::selection {
    background-color: rgba(color(brand), .8); // [6]
    color: white;
  }
}

// As well as using normalize.css, it is often advantageous to remove all
// margins from certain elements.
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, code,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

// Define vertical rhythm for all block level elements.
h1, h2, h3, h4, h5, h6, hgroup,
p, address, blockquote, figure,
form, noscript, fieldset,
ul, ol, dd, dl,
pre, table, hr {
  margin-bottom: $spacing-whole;
}

// Remove extra vertical spacing when nesting lists.
li {
  > ul,
  > ol { margin-bottom: 0; }
}

// Give a help cursor to elements that give extra info on `:hover`.
abbr[title],
dfn[title] { cursor: help; }

// Remove underlines from potentially troublesome elements.
u,
ins { text-decoration: none; }

// Apply faux underlines to inserted text via `border-bottom`.
ins { border-bottom: 1px solid; }

// Makes the <hr/> border thiner.
hr {
  border: none;
  border-bottom: 1px solid color(gray, light);
}





//-------------------------------------
// @TYPOGRAPHY
//-------------------------------------

body {
  font-family: $font-family-heading;
  font-weight: 400;
  color: color(dark);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: 700;
  color: inherit;
}

h1 { @include type-scale(3); }
h2 { @include type-scale(2); }
h3 { @include type-scale(1); }
h4 { @include type-scale(0); }
h5 { @include type-scale(0); }
h6 { @include type-scale(-1); }

blockquote {
  border-left: 3px solid color(brand);
  padding-left: $spacing-whole;
  font-family: $font-family-serif;
  font-style: italic;
}

p {
  margin-bottom: $spacing-whole;
  @include type-scale(0);
}

a {
  text-decoration: none;
  color: color(brand);

  &:hover {
    text-decoration: underline;
  }
}





//-------------------------------------
// @IMAGES (by @inuitcss)
//-------------------------------------

// 1. Fluid images for responsive purposes.
// 2. Offset `alt` text from surrounding copy.
// 3. Setting `vertical-align` removes the whitespace that appears under `img`
//    elements when they are dropped into a page as-is. Safer alternative to
//    using `display: block;`.
img {
  max-width: 100%;        // [1]
  font-style: italic;     // [2]
  vertical-align: middle; // [3]
}

// 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
//    to remove the effects.
// 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
//    not make the image fluid.
img,          // [1]
img[width],   // [2]
img[height] { // [2]
  max-width: none;
}





//-------------------------------------
// @WRAPPER
//-------------------------------------

.l-wrapper {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
