@import '../../../assets/styles/tools';

/* ==========================================================================
   THUMBNAIL
   ========================================================================== */
.c-thumbnail {
  @include rectangle(100%);
  text-align: center;
  overflow: hidden;



  > *, svg {
    max-height: 100%;
  }
}
