/* ==========================================================================
   THUMBNAIL
   ========================================================================== */
.c-thumbnail {
  text-align: center;
  overflow: hidden;



  > *, svg {
    max-height: 100%;
  }
}
