@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/objects';


/* ==========================================================================
   SHOWCASE
   ========================================================================== */
.c-showcase {
  position: relative;
  display: grid;
  grid-gap: $spacing-whole;
  grid-template-columns: auto;
  align-content: center;
  @include rectangle(90%, 100%);
  max-width: 60rem;
  padding: 0;

  @include mq(769px) {
    grid-gap: $spacing-half;
    grid-template-columns: auto 50% $spacing-half;
  }
}



/* ELEMENTS
   ========================================================================== */
.c-showcase__thumbs {
  position: relative;
  min-height: 310px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}



.c-showcase__thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  @include rectangle(100%);
  @include transition(medium);
  z-index: -1;
  opacity: 0;
}



.c-showcase__details {
  display: grid;
  grid-template-rows: minmax($spacing-triple, max-content);
  grid-gap: $spacing-third;
  align-content: space-between;
  order: 2;
  margin-bottom: 0;

  @include mq(769px) {
    grid-gap: $spacing-half;
    order: unset;
  }
}



.c-showcase__detail {
  @include o-media;
  grid-gap: $spacing-whole;
  padding: $spacing-half;

  @include mq(769px) {
    grid-gap: $spacing-half;
    padding: 0;
  }



  .title,
  .subtitle {
    margin: 0;
    @include type-scale(0);
    text-align: left;
    @include transition(medium);
    cursor: pointer;
  }



  .title {
    color: color(gray);
  }



  .subtitle {
    color: color(gray, light);
    font-weight: 400;
  }
}



.c-showcase__icon {
  fill: white;
  stroke: color(gray);
  stroke-width: 1.5;
  @include transition(medium);
}



.c-showcase__nav {
  display: grid;
  grid-template-columns: repeat(3, $spacing-half);
  justify-content: center;
  grid-gap: $spacing-third;
  align-content: center;
  margin: 0;

  @include mq(769px) {
    grid-template-columns: auto;
  }
}



.c-showcase__item {
  background-color: color(light, dark);
  display: block;
  border-radius: 50%;
  @include rectangle($spacing-half);
  @include transition(medium);
}





/* SHOWCASE ITEMS ACTIVE STATE
   ========================================================================== */
.is-active {
  &.c-showcase__detail {
    background-color: color(light);

    @include mq(769px) {
      background-color: transparent;
    }

    .title {
      color: color(brand);
    }

    .c-showcase__icon {
      fill: color(brand);
      stroke: color(dark);
    }
  }



  &.c-showcase__thumb {
    opacity: 1;
  }



  &.c-showcase__item {
    cursor: default;
    pointer-events: none;
    background-color: color(brand);
  }
}
