@import '../../../assets/styles/tools';

/* ==========================================================================
   SUB NAV
   ========================================================================== */
.c-sub-nav {
  display: grid;
  grid-gap: spacing(1);
  align-items: start;
  grid-template-rows: spacing(1) auto;
}





/* ELEMENTS
   ========================================================================== */
.c-sub-nav__title {
  @include type-scale(5);
  color: color(gray, xdark);
}



.c-sub-nav__list {
  display: grid;
  grid-gap: spacing(1/2);
  align-items: start;
}



.c-sub-nav__item {
  list-style: none;
}



.c-sub-nav__link {
  color: color(gray, light);
  @include transition(medium);

  &:hover {
    color: color(brand);
    text-decoration: none;
  }
}
